<nav>
  <div class="left-side">
    <div class="burguerMenu-container">
      <img src="../../../assets/006-menu-1.png" alt="" >
    </div>
    <div class="youtubeLogo-container">
      <img src="../../../assets/008-youtube.png" alt="">
    </div>
  </div>

  <div class="central-side">
    <input type="text">
    <button class="searchButton-container" >
      <img src="../../../assets/007-search-interface-symbol.png" alt="">
    </button>
    <button class="microphoneButton-container">
      <img src="../../../assets/003-microphone-black-shape.png" alt="">
    </button>
  </div>

  <div class="right-side">
    <button class="videoCameraButton-container">
      <img src="../../../assets/004-video-camera.png" alt="">
    </button>
    <button class="menu-container">
      <img src="../../../assets/002-menu.png" alt="">
    </button>
    <button class="bellButton-container">
      <img src="../../../assets/005-bell.png" alt="">
    </button>
    <button class="userButton-container">
      <img src="../../../assets/001-user.png" alt="">
    </button>
  </div>
</nav>
