<!-- Este es el componente principal de la aplicación y es el encargado de mostrar el componente app-header y el componente que corresponda a la ruta actual. -->

<!-- Si se desea que un componente se mantenga a pesar de que se navegue entre vistas, se debe poner en este archivo. -->

<app-header></app-header> <!-- Se usa el componente app-header para mostrar el header de la aplicación -->
<router-outlet></router-outlet> <!-- Se usa el componente router-outlet para mostrar el componente que corresponda a la ruta actual, Muestra el contenido dependiendo de la ruta -->
