<!-- estamos viendo que el componente principal es el app.component.html
y que el app.component.html es el que tiene el header y el main -->

<header></header> <!-- Este es el componente header que se encuentra en la carpeta components/header -->
<main>
  <side-bar></side-bar> <!-- Este es el componente side-bar que se encuentra en la carpeta components/side-bar -->
  <div>
    <app-filters-buttons></app-filters-buttons> <!-- Este es el componente filters-buttons que se encuentra en la carpeta components/filters-buttons -->
    <app-videos-grid></app-videos-grid> <!-- Este es el componente videos-grid que se encuentra en la carpeta components/videos-grid -->
  </div>
</main>
